<footer class="bg-light mt-4">
    <div class="container py-2 text-center">
        <%= i18n.__("Kyiv") %> 2020
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
