<!DOCTYPE html>
<html>
<%- include partials/header.ejs %>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-53BZ5VC"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<%- include partials/navbar.ejs %>
<div class="container">

    <div class="changeable">
        <%- include partials/filmList.ejs %>
    </div>

    <nav aria-label="Page navigation example center">
        <ul class="pagination justify-content-center">
            <li class="page-item <% if (active === 1) { %>active <% } %> >"><a class="page-link" href="/comedy">1</a>
            </li>
            <li class="page-item <% if (active === 2) { %>active <% } %>"><a class="page-link" href="/comedy/2">2</a>
            </li>
            <li class="page-item <% if (active === 3) { %>active <% } %>"><a class="page-link" href="/comedy/3">3</a>
            </li>
            <li class="page-item <% if (active === 4) { %>active <% } %>"><a class="page-link" href="/comedy/4">4</a>
            </li>
            <li class="page-item <% if (active === 5) { %>active <% } %>"><a class="page-link" href="/comedy/5">5</a>
            </li>
        </ul>
    </nav>
    <hr>
    <div>
        <%- articleContent %>
    </div>
</div>
</body>
</html>
