<!DOCTYPE html>
<html>
<%- include partials/header.ejs %>
<body>
<%- include partials/navbar.ejs %>
<div class="container">

    <script>
        $(document).ready(function () {
            $('.page-link').on('click', function () {
                let pageNum = $(this).text() - 1;
                $.ajax({
                    url: `/pageable?pageNum=${pageNum}`, success: function (result) {
                        $('.changeable').html(result);
                    }
                });
            });
        });
    </script>

    <div class="changeable">
        <%- include partials/filmList.ejs %>
    </div>

    <nav aria-label="Page navigation example center">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
        </ul>
    </nav>

    <hr>
    <div>
        <p>Фільми, щоб підняти настрій
            Дні починають ставали коротшими та більш холодними. Осінь - це час меланхолії. Що може бути краще, аніж
            зручно закутатись в покривало, взяти в руки гарячий чай та дивитись фільми для хорошого настрою. Навіть
            якщо
            на вас напала хандра і ви втомлені після роботи, вони завжди будуть доречними.
        </p>
        <p>
            Легкі фільми для хорошого настрою роблять дива. Після перегляду з’являється надія, що добро таки
            переможе і
            всі будуть жити довго та щасливо.
        </p>
        <p>
            Якщо все набридло , не подобається погода , проблеми на роботі , на душі туго, просто оберіть хороше
            кіно
            для підняття настрою на вечір . Через пару годин вам стане значно краще.
        </p>
    </div>
</div>
</body>
</html>
