<!DOCTYPE html>
<html>
<%- include partials/header.ejs %>
<body>
<%- include partials/navbar.ejs %>
<div class="container">
    <div class="card mt-2">
        <div class="card-header">
            <%= movie.Title %>
        </div>
        <div class="card-body">
            <%= movie.Description %>
        </div>
    </div>
</div>
</body>
</html>
