<!DOCTYPE html>
<html>
<%- include partials/header.ejs %>
<body>
<%- include partials/navbar.ejs %>
<div class="container">

    <script>
        $(document).ready(function () {
            $('.page-link').on('click', function () {
                let pageNum = $(this).text() - 1;
                $.ajax({
                    url: `/pageable?pageNum=${pageNum}&genreCode=31`, success: function (result) {
                        $('.changeable').html(result);
                    }
                });
            });
        });
    </script>

    <div class="changeable">
        <%- include partials/filmList.ejs %>
    </div>

    <nav aria-label="Page navigation example center">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
        </ul>
    </nav>

    <hr>
    <div>
        <p>Кіно про любов протягом багатьох років підкорює серця жінок і чоловіків, адже в його сюжеті розкривається
            дивовижна історія кохання між двома людьми. Все любовне кіно насичене безліччю переживань, романтичними
            почуттями, а часом навіть трагічними сценами. Як правило, кіно про любов володіє сильним емоційним
            згущенням, гостротою інтриги і нестандартною поведінкою стереотипів, що дозволяє глядачеві від початку до
            кінця переживати за долю головних героїв в очікуванні бажаного щасливого кінця.
        </p>
        <p><b>Яке воно кіно про любов?
            </b></p>
        <p>
            Романтичне кіно займає значну частину сучасного кінематографа, що свідчить про його популярність. Варто
            зазначити, що для представниць прекрасної статі кіно про любов до сліз є цікавішим за фантастику, бойовики і
            навіть комедій. Наприклад, таке гарне кіно про любов як «Привид» високо цінується глядачами донині, адже
            воно змушує тремтіти їх серця.
        </p>
        <p>
            В кіно про любов 2020 року, 2019, 2018, а також фільмів ХХ століття в сюжеті спостерігається контраст добра
            і зла, любові та ненависті, що безсумнівно є спільним компонентом у всіх стрічках. Кіно про село і любов,
            відносини в великому місті або ж службовий роман, завжди розгортаються в схематично поданому контексті, з
            тонко розробленим характером героїв. Крім того, часто кіно про любов до сліз йде в супроводі зворушливих
            музичних композицій, мелодії яких здатні зворушити кожного.
        </p>
    </div>
</div>
</body>
</html>
