<!DOCTYPE html>
<html>
<%- include partials/header.ejs %>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-53BZ5VC"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<%- include partials/navbar.ejs %>
<div class="container">

    <h1>Результати пошуку за назвою "<%= searchQuery %>"
    </h1>
    <div class="changeable">
        <%- include partials/filmList.ejs %>
    </div>

    <hr>
</div>
</body>
</html>
