<!DOCTYPE html>
<html>
<%- include partials/header.ejs %>
<body>
<%- include partials/navbar.ejs %>
<div class="container">

    <div class="changeable">
        <%- include partials/filmList.ejs %>
    </div>
    <hr>
    <div>
        <p>Зомбі - ожилі трупи, що безвтомно блукають по вулицях в пошуках свіжої плоті якої можна поласувати. Все, що в
            них є - це почуття голоду. Їх мозок деградував, а розірвана плоть гниє. Але незважаючи ні на що, протягом
            багатьох років вони залишаються популярними серед прихильників захоплюючих фантастичних фільмів. Треба
            зазначити, що в останній час, кіно про зомбі обігнали за переглядами фільми про аристократичних вампірів, в
            діях яких в рази більше естетики.
        </p>
        <p>
            <b>Особливості фільмів про зомбі</b>
        </p>
        <p>
            Всі сучасні кіно про зомбаків демонструють глядачеві сюжетні лінії, в рамках яких розповідається історія про
            появу невідомого вірусу, що з неймовірною швидкістю розноситься по земній кулі. Потрапляючи в організм
            людини, він проникає в його ДНК-код, вражає всі органи і “пожирає” мозок, при цьому не даючи можливості
            своєму носію померти, адже після того, як організм перестає функціонувати життєдіяльність підтримується
            самим вірусом. Натовпи «ходячих» мерців нападають, заражають і поїдають, здорових громадян. Однак, в кожному
            кіно зомбі програють одному або декільком, неймовірно кмітливим героям, тяга до виживання у яких штовхає їх
            на безліч сміливих подвигів. Помітно, що в минулому столітті кіно про зомбі-апокаліпсис ґрунтувалося не на
            сюжетних лініях з жахливим вірусом, а на історіях про чорну магію вуду.
        </p>
        <p>
            Не можна не відзначити, що в сучасних реаліях, коли людям раз по раз доводиться стикатися з невиліковними
            хворобами, фільми за участю зомбі набирають все більшу популярність. Адже вони свого роду
            соціально-кінематографічна інтерпретація тимчасово важкого періоду.
        </p>
    </div>
</div>
</body>
</html>
