<!DOCTYPE html>
<html>
<%- include partials/header.ejs %>
<body>
<%- include partials/navbar.ejs %>
<div class="container">

    <div class="changeable">
        <%- include partials/filmList.ejs %>
    </div>
    <hr>
    <div>
        <%- articleContent %>
    </div>
</div>
</body>
</html>
